body {
        margin: 0;
        height: 100vh;
        background-image: url('img/Background1.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

.breadcrumb-item {
    color:antiquewhite;
    text-decoration: none;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifS;
}

h1,h6 {
    color: white; /* Cor do texto no corpo */
    text-align: left; 
    margin-top: 10px; /* Espaçamento acima do texto */
}

h5, p {
    color:black;
}