
/*FORMATÇÃO BODY*/
body {
    margin: 0;
    height: 100vh;
    background-image: url('Background1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*FORMATAÇÃO BARRA DE NAVEGAÇÃO*/
.navbar {
    text-decoration: none; /* Remove o sublinhado dos links */
}

/*FORMATÇÃO TEXTO INICIAL*/
h1, h4 {
    color: white; /* Cor do texto no corpo */
    text-align: left; 
    margin-top: 10px; /* Espaçamento acima do texto */
}

    /*FPRMATAÇÃO DE IMG SOBREPOSTA*/
    .overlay-image {
        top: 100%; /* Centraliza verticalmente */
        left: 100%; /* Centraliza horizontalmente */
        transform: translate(1%, 60%); /* Centraliza a imagem */
        width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    }

    #text-initial{ /*FORMATAÇÃO TEXTO PÁGINA INICIAL*/
        padding-top: 300px;
        padding-left: 250px;
    }