/* FORMATA BODY INICIAL */
body {
    margin: 0;
    height: 100vh;
    background-color: rgb(253, 227, 196);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

uardar css
:root {
    --bs-body-bg: #F8F7F2;
    --bs-body-color: #1A1A1A;
}

body {
    font-family: 'Exo 2', sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Dela Gothic One', sans-serif;
}

.btn {
    font-family: "Dela Gothic One", sans-serif;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 13px;
}

.m-pp {
    margin: 3rem 25% 3rem 25%;
}

/** Ocultar a seta padrão do dropdown **/
.dropdown-toggle-no-arrow::after {
    display: none;
}

/** Abrir dropdown com hover **/
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Ajuste Imagem Carousel Início */
.dropdown-menu {
    display: none;
    opacity: 0;
}

.custom-carousel {
    height: 75vh;
}

.custom-carousel .carousel-inner {
    height: 100%;
}

.custom-carousel .carousel-item {
    height: 100%;
}

.custom-carousel img {
    object-fit: cover;
    height: 100%;
}

/* Ajuste Imagem Carousel Produtos */
.img-carousel {
    height: 660px;
    width: 400px;
}


@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Linha Pontilhada - Footer */
.footer-item {
    display: flex;
}

.footer-item>div:first-child {
    min-width: 65px;
    text-align: left;
}

.footer-line {
    border-bottom: 2px dotted;
    flex-grow: .5;
    margin: 0 5px;
    position: relative;
    top: -7px;
}

/* Linha do Tempo - Quem Somos */
.tl-separator {
    width: 2px;
    height: 100%;
    background-color: var(--bs-danger);
}

.tl-circle {
    width: 20px;
    height: 20px;
    background-color: var(--bs-danger);
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}
